extends layout

block content
  h1= title 
  h2= messages
  div
  form.form-horizontal(method="post", action='/users/update/#{id}', enctype="multipart/form-data")
      .control-group
        label.control-label(for='username') User Name
        .controls
          input#title.input-input-xlarge(type='text', value="#{username}", name="username", placeholder='Enter the username')
      .control-group
        label.control-label(for='password') Password
        .controls
          input#cid.input-input-xlarge(type='password', value="#{password}", name="password", placeholder='Enter the password')
      .control-group
        .controls
          input(type='submit',value='Save')    
